.btn-yellow {
    background-color: #e6d400;opacity: 0.9;
    color: black;
    font-weight: 700;
    border-radius: 12px;
    padding: 12px 24px;
    transition: 0.3s;
}

.btn-yellow:hover {
    background-color: #e6d400;
    transform: translateY(-2px);
    opacity: 1;
}

.btn-outline-custom {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
    color: white;
    border-radius: 12px;
    padding: 12px 24px;
}

.card-dashboard {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 30px;
}

.inner-card {
    background: #2d2d2d;
    border-radius: 24px;
    padding: 25px;
}

.mb-4{
    color: #FFFFFF;
}

.card-dashboard{
    background-color: #555555;
}

.text-muted{
    color: #FFFFFF !important;
}